.nav {
    // position: relative;
    display: flex;
    background-color: #00081e;
    // background-color: #005820;
    height: 6rem;
    align-items: center;
    &_logo {
        flex-basis: 20%;
        img {
            height: 6.2rem;
        }
    }

    &_menu {
        flex: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 100%;
        padding-top: 2rem;
        transition: 0.5s;

        &-item {
            a {
                color: white;
            }
        }
    }
    .nav_menu-dropdown {
        // overflow: hidden;
        position: relative;
        // display: inline-block;

        &-content {
            display: none;
            position: absolute;
            z-index: 1;
            min-width: 10.6rem;
        }
        &-dropdown-content a {
            display: block;
            padding: 5rem;
            margin-left: 0rem;
            color: #00081e;
        }
        &:hover .nav_menu-dropdown-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: #f9f9f9;
            padding: 0.5rem 0rem;
        }
    }
}

.header {
    // border: 1px solid RED;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00081e;
    height: 70vh;
    padding: 0rem 5rem 5rem 5rem;
    &_top {
        flex-basis: 50%;
        &-title {
            margin-bottom: 3rem;
            color: whitesmoke;
            margin-top: 2rem;
            &-1 {
                font-size: 3rem;
            }
            &-2 {
                margin-top: 0.5rem;
                font-size: 1.5rem;
            }
        }
    }
    
    &_btn {
        a {
            padding: .8rem;
            background-color: cyan;
            color: black;
            font-size: 1.05rem;
            font-weight: 500;
            border-radius: .5rem;
        }
        a:hover {
            background-color: #46D5E7;
        }
    }
    
    &_bottom {
        flex-basis: 40%;
        // &-imgdiv {}
        &-img {
            width: 100%;
            height: auto;
        }
    }
}
